

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Encode+Sans+Semi+Expanded:wght@300&display=swap');
:root
{
    --main-color:#000000;
    --light-color:#888484;
    --shadow: rgba(145,158,171,.2) 1px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}


.icon {
    font-size: 32px;
}

.text-nav {
    font-size: 15px;
    padding-left: 15px !important;

}

.nav-line {
    border-bottom: solid 1px var(--main-color);
}

.btn {
    border-radius: 5px;
}

.form {
    border: none;
    border-radius: 0px;
}

.custom-input {
    height: 55px;
    
}

.custom-input::placeholder {
    /* color: #999;  */
    transition: all 0.3s ease;
}

.form-control:focus {
    box-shadow: none;
}

.custom-input:focus::placeholder {
    transform: translateY(-100%);
    /* color: red;  */
}


.cursor-pointer{
    cursor: pointer;
}


.logo{
    width: 150px !important;
    height: 80px;
}

